# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: MySelfHostedPool

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: eggplant-runner@2
  inputs:
    daiVersion: '25.4.0+3'
    serverURL: 'http://localhost:8000/'
    testConfig: 'ById'
    testConfigID: 'd5a44c07-7b8f-4538-835a-689d54d20b72'
    clientID: 'client:dai:api:integration:54458967-aea2-44c4-b0b2-3a18a0a539f3'
    clientSecret: 'O9P6yuT3vZT4EOsexPI7ppmvdN38pAI2'