name: "Run Eggplant DAI Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Run-DAI-Test-Configuration:
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: "self-hosted"
    name: Run Test Configuration
    steps:
      # Step 1: Fix PowerShell script execution policy (for Windows only)
      - name: Allow PowerShell scripts (Windows only)
        if: runner.os == 'Windows'
        shell: powershell
        run: |
          Write-Host "Adjusting PowerShell execution policy for this process..."
          Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process -Force

      # Step 2: Show trigger and OS info
      - name: Display Trigger and Runner Info
        shell: powershell
        run: echo "Trigger event.. ${{ github.event_name }}. Runner OS.. ${{ runner.os }}."

      # Step 3: Run Eggplant DAI test
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: "http://varalakshmi.ideabytes.com:8000"
          testConfigID: "b38c5feb-8695-4a7d-95f9-dea9487ffe74"
          clientID: "client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62"
          clientSecret: "uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB"
