name: Eggplant Runner Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  Run-Test-Configuration:
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    name: Run Test Configuration
    steps:
      - run: echo "Trigger event.. ${{ github.event_name }}. Runner OS.. ${{ runner.os }}."
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          dryRun: false
          serverURL: "http://varalakshmi.ideabytes.com:8000"
          clientID: "client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62"
          testConfigID: "b38c5feb-8695-4a7d-95f9-dea9487ffe74" # Test configuration which need to perform execution
          clientSecret: "uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB" # Eggplant DAI service client secret
