name: "Run Eggplant DAI Test on Windows"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Run-DAI-Test-Configuration:
    runs-on: "self-hosted"  # Assuming you're using a self-hosted runner for Windows
    name: Run Test Configuration
    steps:

      # Step 1: Display Trigger info on Windows
      - name: Display Trigger and Runner Info (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          powershell -ExecutionPolicy Bypass -Command "Write-Host 'Trigger Event.. ${{ github.event_name }}'; Write-Host 'Runner OS.. ${{ runner.os }}'"

      # Step 2: Debugging - Print Eggplant Input Variables
      - name: Debugging Print Eggplant Inputs
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          powershell -ExecutionPolicy Bypass -Command "Write-Host 'Server URL: http://varalakshmi.ideabytes.com:8000'"
          powershell -ExecutionPolicy Bypass -Command "Write-Host 'Test Config ID: b38c5feb-8695-4a7d-95f9-dea9487ffe74'"
          powershell -ExecutionPolicy Bypass -Command "Write-Host 'Client ID: client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62'"
          powershell -ExecutionPolicy Bypass -Command "Write-Host 'Client Secret: uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB'"

      # Step 3: Run Eggplant DAI Test on Windows using the Eggplant GitHub Action
      - name: Run Eggplant DAI Test on Windows
        if: runner.os == 'Windows'
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: "http://varalakshmi.ideabytes.com:8000"
          testConfigID: "b38c5feb-8695-4a7d-95f9-dea9487ffe74"
          clientID: "client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62"
          clientSecret: "uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB"
