name: "Run Eggplant DAI Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Run-DAI-Test-Configuration:
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: "self-hosted"
    name: Run Test Configuration
    steps:
      # Step 1: Platform-specific echo and execution policy
      - name: Display Trigger and Runner Info (Cross-Platform)
        run: |
          if [ "${{ runner.os }}" == "Windows" ]; then
            echo "Trigger event.. ${{ github.event_name }}. Runner OS.. Windows."
            # Bypass execution policy directly
            powershell -ExecutionPolicy Bypass -Command "Write-Host 'Trigger event.. ${{ github.event_name }}. Runner OS.. Windows.'"
          elif [ "${{ runner.os }}" == "Linux" ]; then
            echo "Trigger event.. ${{ github.event_name }}. Runner OS.. Linux."
          elif [ "${{ runner.os }}" == "macOS" ]; then
            echo "Trigger event.. ${{ github.event_name }}. Runner OS.. macOS."
          fi

      # Step 2: Run Eggplant DAI test
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: "http://varalakshmi.ideabytes.com:8000"
          testConfigID: "b38c5feb-8695-4a7d-95f9-dea9487ffe74"
          clientID: "client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62"
          clientSecret: "uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB"
