name: "Run Eggplant DAI Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Run-DAI-Test-Configuration:
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: "self-hosted"
    name: Run Test Configuration
    steps:

      # Step 1: Display Trigger info on Windows
      - name: Display Trigger and Runner Info (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        run: powershell -ExecutionPolicy Bypass -Command "Write-Host 'Trigger Event.. ${{ github.event_name }}'; Write-Host 'Runner OS.. ${{ runner.os }}'"

      # Step 1b: Display Trigger info on Linux/macOS
      - name: Display Trigger and Runner Info (Linux/macOS)
        if: runner.os != 'Windows'
        run: |
          echo "Trigger Event: ${{ github.event_name }}"
          echo "Runner OS: ${{ runner.os }}"

      # Step 2: Debugging - Print Eggplant Input Variables
      - name: Debugging: Print Eggplant Inputs
        run: |
          echo "Server URL: http://varalakshmi.ideabytes.com:8000"
          echo "Test Config ID: b38c5feb-8695-4a7d-95f9-dea9487ffe74"
          echo "Client ID: client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62"
          echo "Client Secret: uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB"

      # Step 3: Run Eggplant DAI Test
      - name: Run Eggplant DAI Test
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: "http://varalakshmi.ideabytes.com:8000"
          testConfigID: "b38c5feb-8695-4a7d-95f9-dea9487ffe74"
          clientID: "client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62"
          clientSecret: "uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB"
