name: "Run Eggplant DAI Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Run-DAI-Test-Configuration:
    strategy:
      max-parallel: 1
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: "self-hosted"
    name: Run Test Configuration
    steps:
      
      # Step 1: Display Trigger info (Using PowerShell for Windows)
      - name: Display Trigger and Runner Info
        if: runner.os == 'Windows'
        shell: cmd
        run: powershell -ExecutionPolicy Bypass -Command "Write-Host 'Trigger event.. ${{ github.event_name }}. Runner OS.. ${{ runner.os }}.'"
        
      # Step 2: Debugging Step - Print out variables (Including GitHub secrets)
      - name: Debugging
        run: |
          echo "Server URL: ${{ secrets.SERVER_URL }}"
          echo "Test Config ID: ${{ secrets.TEST_CONFIG_ID }}"
          echo "Client ID: ${{ secrets.CLIENT_ID }}"
          echo "Client Secret: ${{ secrets.CLIENT_SECRET }}"
        
      # Step 3: Run Eggplant DAI Test
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: ${{ secrets.SERVER_URL }}  # Use secrets for sensitive data
          testConfigID: ${{ secrets.TEST_CONFIG_ID }}  # Use secrets for sensitive data
          clientID: ${{ secrets.CLIENT_ID }}  # Use secrets for sensitive data
          clientSecret: ${{ secrets.CLIENT_SECRET }}  # Use secrets for sensitive data
