name: "Run Eggplant DAI Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Run-DAI-Test-Configuration:
    strategy: # Optional configuration by using matrix strategy
      max-parallel: 1 # To set the maximum number of jobs that can run simultaneously 
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest] # Operating support by Eggplant DAI GitHub Action
    runs-on: ${{ matrix.os }} # Provide OS matrix
    name: Run Test Configuration
    steps:
      - run: echo "Trigger event.. ${{ github.event_name }}. Runner OS.. ${{ runner.os }}."
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: "http://varalakshmi.ideabytes.com:8000" # Required. Details below
          testConfigID: "b38c5feb-8695-4a7d-95f9-dea9487ffe74" # Required. Details below
          clientID: "client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62" # Required. Details below
          clientSecret: "uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB" # Required. Details below
