name: "Run Eggplant DAI Test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  Run-DAI-Test-Configuration:
    runs-on: self-hosted
    name: Run Test Configuration
    steps:
      - name: Display Trigger Info
        shell: powershell
        run: |
          Write-Host "Trigger event: $env:GITHUB_EVENT_NAME. Runner OS: $env:RUNNER_OS."

      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: "http://varalakshmi.ideabytes.com:8000"
          testConfigID: "b38c5feb-8695-4a7d-95f9-dea9487ffe74"
          clientID: "client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62"
          clientSecret: "uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB"
