name: Eggplant DAI Test Runner

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-test:
    runs-on: self-hosted, windows-latest  # Replace 'windows-latest' with your self-hosted runner's label if needed

    strategy:
      max-parallel: 1  # Limits parallel execution
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]  # OS options (adjust as needed)

    name: Run Eggplant DAI Test Configuration
    steps:
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          # These values will be used to trigger your Eggplant DAI tests
          dryRun: false
          serverURL: "http://varalakshmi.ideabytes.com:8000"  # Replace with your DAI server URL
          clientID: "client:dai:api:integration:287b5b5c-5311-45a6-ae8b-f29ca717cc62"  # Your client ID for DAI
          testConfigID: "b38c5feb-8695-4a7d-95f9-dea9487ffe74"  # Your DAI Test Configuration ID
          clientSecret: "uQTquZZHz8O6ndWRE4Nn1NU3I8JzRHCB"  # Store your client secret as a GitHub secret for security

